@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:ital@1&display=swap");
.logo {
  text-align: center;
}

.container {
  margin: 1.5em;
}

.description {
  font-family: "EB Garamond", serif;
  font-family: "Montserrat", sans-serif;
}

.foto {
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 10px 10px 5px #dedede;
}

.color-line {
  background: rgba(252, 234, 187, 1);
  background: -moz-linear-gradient(
    top,
    rgba(252, 234, 187, 1) 0%,
    rgba(248, 181, 0, 1) 5%,
    rgba(252, 205, 77, 1) 9%,
    rgba(251, 223, 147, 1) 74%,
    rgba(251, 223, 147, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(252, 234, 187, 1)),
    color-stop(5%, rgba(248, 181, 0, 1)),
    color-stop(9%, rgba(252, 205, 77, 1)),
    color-stop(74%, rgba(251, 223, 147, 1)),
    color-stop(100%, rgba(251, 223, 147, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(252, 234, 187, 1) 0%,
    rgba(248, 181, 0, 1) 5%,
    rgba(252, 205, 77, 1) 9%,
    rgba(251, 223, 147, 1) 74%,
    rgba(251, 223, 147, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(252, 234, 187, 1) 0%,
    rgba(248, 181, 0, 1) 5%,
    rgba(252, 205, 77, 1) 9%,
    rgba(251, 223, 147, 1) 74%,
    rgba(251, 223, 147, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(252, 234, 187, 1) 0%,
    rgba(248, 181, 0, 1) 5%,
    rgba(252, 205, 77, 1) 9%,
    rgba(251, 223, 147, 1) 74%,
    rgba(251, 223, 147, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(252, 234, 187, 1) 0%,
    rgba(248, 181, 0, 1) 5%,
    rgba(252, 205, 77, 1) 9%,
    rgba(251, 223, 147, 1) 74%,
    rgba(251, 223, 147, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=0 );
  padding: 1.5em;
}

.center {
  text-align: center;
}

#line {
  display: inline;
  color: red;
}

#link {
  margin: 0.8em;
}

li {
  margin: 1.2em;
}
main {
  margin-left: 30%;
  margin-right: 30%;
}
