@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat:ital@1&display=swap");
.logo {
  text-align: center;
}

.container {
  margin: 1.5em;
}

.description {
  font-family: "EB Garamond", serif;
  font-family: "Montserrat", sans-serif;
}

.foto {
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 10px 10px 5px #dedede;
}

.color-line {
  background: #f6d88c;
  padding: 1.5em;
}

.center {
  text-align: center;
}

#line {
  display: inline;
  color: red;
}

#link {
  margin: 0.8em;
}

li {
  margin: 1.2em;
}
main {
  margin-left: 30%;
  margin-right: 30%;
}
